<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</header>
	<body>
		<div id="vue">
			<course-student></course-student>
		</div>
		<script>
			Vue.component('course-student',{
				data: function () {
                    return {
                        course: {
							id: 0,
							theme: 'Тема',
							name: 'Название',
							description: 'Описание',
							dateStart: Date(),
							link: 'Ссылка на видео',
							students:[{
								name: '',
								last: '',
								second: ''
							}]
						},
						showForm: false,
						student:{
							last: '',
							name: '',
							second: ''
						}
                    }
                }, 
				methods:{
					addStudent: function addStudent(){
						let st = {};
						for (let key in this.student){
							st[key] = this.student[key];
						}
						this.course.students.push(st);
						this.setLocalStud(this.course.students);
						this.clearForm();
					},
					deleteStudent: function deleteStudent(index){
						this.course.students.splice(index, 1);
						this.setLocalStud(this.course.students);
					},
					clearForm: function clearForm(){
						this.showForm = false;
						for (let key in this.student){
							this.student[key] = '';
						}
					},
					setLocalStud: function setLocalStud(val){
						localStorage.setItem('Students', JSON.stringify(val));
					}
				},
				created: function(){
				console.log(JSON.parse(localStorage.getItem('Students')));
					if(localStorage.getItem('Students')){
						this.course.students = JSON.parse(localStorage.getItem('Students'));
					} else {
						this.course.students = [];
					}
				},
				template: `
					<div>
						<div>Карточка курса</div>
						<div> Тема: <input v-model="course.theme"></input></div>
						<div> Название: <input v-model="course.name"></input></div>
						<div> Описание: <input v-model="course.description"></input></div>
						<div> ДатаНачала: <input v-model="course.dateStart"></input></div>
						<div> Ссылка на видео: <input v-model="course.link"></input></div>
						<div> Студенты: 
							<ul>
								<li v-for="(stud, index) in course.students">
									{{stud.last + ' ' + stud.name + ' ' + stud.second}}
									<button @click="deleteStudent(index)">Удалить</button>
								</li>
							</ul>
						</div>
						
						<button v-show="!showForm" @click="showForm = true">Добавить</button>
						<div v-show="showForm">
							<div> Фамилия: <input v-model="student.last"></input></div>
							<div> Имя: <input v-model="student.name"></input></div>
							<div> Отчество: <input v-model="student.second"></input></div>
							<button @click="addStudent">Добавить</button>
							<button @click="clearForm">Отменить</button>
						</div>
					</div>
				`
			});
			
			new Vue({el  : '#vue'});
		</script>
	</body>
</html>