<html>
	<header>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</header>
	<body>
		<div id="vue">
			<course-student></course-student>
		</div>
		<script>
			const store = new Vuex.Store({
				state: {
					users: [],
					courses:[],
					courseStudentsGroup:[],
					lessons:[],
					themes:[],
					token: ''
				},
				getters:{
					getToken(state) {
						return state.token;
					},
				},
				mutations: {
					setToken(state, token){
						state.token = token;
					},
					setCourseStudentsGroup(state, data){
						let prepData = {};
						
						data.forEach((item) => {
							prepData[item.id] = item;
						});
						
						state.courseStudentsGroup = prepData;
					},
					setCourses(state, data){
						let prepData = {};
						
						data.forEach((item) => {
							prepData[item.id] = item;
						});
						
						state.courses = prepData;
					},
					setThemes(state, data){
						let prepData = {};
						
						data.forEach((item) => {
							prepData[item.id] = item;
						});
						
						state.themes = prepData;
					},
					setLessons(state, data){
						let prepData = {};
						
						data.forEach((item) => {
							prepData[item.id] = item;
						});
						
						state.lessons = prepData;
					},
					setUsers(state, data){
						let prepData = {};
						
						data.forEach((item) => {
							prepData[item.id] = item;
						});
						
						state.users = prepData;
					},
				},
				actions:{
					loadCourseStudentsGroups(){
						getTransport().get('http://vue-learning.2.korusdev.ru/course_students_groups').then(res => {
								this.commit('setCourseStudentsGroup', res.data);
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
					
					loadCourses(){
						getTransport().get('http://vue-learning.2.korusdev.ru/courses').then(res => {
								this.commit('setCourses', res.data);
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
					
					loadLessons(){
						getTransport().get('http://vue-learning.2.korusdev.ru/lessons').then(res => {
								this.commit('setLessons', res.data);
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
					
					loadThemes(){
						getTransport().get('http://vue-learning.2.korusdev.ru/themes').then(res => {
								this.commit('setThemes', res.data);
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
					
					loadUsers(){
						getTransport().get('http://vue-learning.2.korusdev.ru/users').then(res => {
								this.commit('setUsers', res.data);
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
					
					getAllData(){
						var post = {
							"email": "user@user.com",
							"password": "pass"
						};
						
						getTransport().post('http://vue-learning.2.korusdev.ru/authentication_token', post)
							.then(res => {
								this.commit('setToken', res.data.token);
								
								this.dispatch('loadCourseStudentsGroups');
								this.dispatch('loadCourses');
								this.dispatch('loadLessons');
								this.dispatch('loadThemes');
								this.dispatch('loadUsers');
							})
							.catch(err => {
								alert('Error!' + err);
							});
					},
				}
			});
			
			var getTransport = () => {
					let transport = axios.create();
					
					transport.interceptors.request.use(function (config) {
						config.headers = {
							Authorization: 'Bearer ' + store.state.token,
						};
						return config;
					}, function (error) {
						return Promise.reject(error);
					});
				
					return transport;
			};
			
			Vue.component('course-student',{
				methods:{	
					makeReadableDate(date){
						options = {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						};
						
						date = new Date(date);
						return date.toLocaleString("ru", options);
					},
					prepareDate(date){
						if(!date)
							return 'Не указано';
						
						let ms = Date.parse(date),
							prepDate = new Date();
							
						prepDate.setTime(ms);

						return prepDate.getDate() + '.' + (prepDate.getMonth() + 1) + '.' + prepDate.getFullYear();
					}
				},
				computed:{
					getCourseStudentsGroup: function(){
						return store.state.courseStudentsGroup;
					},
					getCourses: function(){
						return store.state.courses;
					},
				},
				created: function(){
					store.dispatch('getAllData');
				},
				template: `
					<div class="main_component_div">
						<table>
							<thead>
								<tr>
									<td>Название курса</td>
									<td>Описание</td>
									<td>Дата начала</td>
									<td>Дата окончания</td>
									<td>Дата обновления</td>
									<td>Студенты</td>
								</tr>
							</thead>
							<tbody>
								<tr class="courses" v-for="cours in getCourseStudentsGroup">
									<td>{{cours.course.title}}</td>
									<td>{{getCourses[cours.course.id].description}}</td>
									<td>{{prepareDate(getCourses[cours.course.id].dateStart)}}</td>
									<td>{{prepareDate(getCourses[cours.course.id].dateEnd)}}</td>
									<td>{{prepareDate(getCourses[cours.course.id].dateUpdate)}}</td>
									<td>
										<ul>
											<li v-for="student in cours.students">{{student.fullName}}</li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				`
			});
			
			new Vue({el  : '#vue',
				store: store
				});
		</script>
	</body>
</html>
